.hebrewInput\.hebrewInputControl {
    
    direction: rtl;
    width: 100%;
}
.hebrewInput\.hebrewInputControl input {
    padding:20px;
    border: 0px solid;
    direction: rtl;
    font-size: 28px;
}