.hebrewInput\.hebrewInputControl {
    
    direction: rtl;
    width: 97.2%;
}
.hebrewInput\.hebrewInputControl input {
    border: 0px solid;
    direction: rtl;
}

/* .input-focused:focus {
        
} */