.hebrewInput\.hebrewInputControl {
    position: relative;
    direction: rtl;

}

.hebrewInput\.hebrewInputControl input {
    border: 0px solid;
    direction: rtl;
    width: 97.2%;
    
}

/* .input-focused:focus {
        
} */

